<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="frags/head :: header">
<meta charset="utf-8" />
<style type="text/css">
#loadThymus {
	position: absolute;
	margin: 0;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	color: #fff;
	font-weight: bolder;
	background-color: #777;
	z-index: 5000;
	font: 100% sans-serif, 'Helvetica Neue', Helvetica, Arial;
}
#loadThymus>div {
	position: absolute;
	width: 300px;
	height: 50px;
	margin: -150px 0 0 -150px;
	left: 50%;
	top: 50%;
}
#loadThymusText {
	text-align: center;
	vertical-align: baseline;
	line-height: 50px;
	z-index: 5002;
}
#loadThymusProg {
	background-color: #333;
}
#loadThymusProgPer {
	display: inline-block;
	width: 1%;
	height: 100%;
	background-color: #6593B5;
	z-index: 5001;
}
</style>
<script type="text/javascript">
	function fragComplete() {
		this.event.log();
		// loading indicator
		var $lt = $('#loadThymus');
		if (this.event.fragCount == this.event.fragCurrTotal) {
			$lt.css('display', 'none');
		} else {
			var p = Math
					.round((this.event.fragCount / this.event.fragCurrTotal) * 100)
					+ '%';
			var $pb = $lt.find('#loadThymusText');
			$pb.text(p);
			$('#loadThymusProgPer').css('width', p);
		}
	}
	function handleReadme() {
		var h = this.handle;
		var d = '';
		var ps = h.data.match(/<p[^>]*>(.+)<\/p>/img);
		if (ps) {
			$.each(ps, function(i, p) {
				d += p;
			});
		}
		var $d = $(d);
		h.process($d);
	}
</script>
<!-- Thymus script -->
<script th:remove="all" src="js/thymus.js" id="thymus"
	data-thx-context-path="." data-thx-frag-extension=".htm"
	data-thx-head-frag="th:replace=frags/head :: header"
	data-thx-onfragscomplete="init()" 
	data-thx-onfragcomplete="fragComplete()"></script>
</head>
<body>
	<div id="loadThymus">
		<div id="loadThymusText">
			0%
		</div>
		<div id="loadThymusProg">
			<div id="loadThymusProgPer"></div>
		</div>
	</div>
	<div th:replace="frags/nav/nav :: topnav"></div>
	<div class="container app-scroll">
		<div id="docs" class="app-scroll-nav">
			<ul class="nav navbar-inverse">
				<li><a th:title="#{about}"
					class="app-tooltip-bottom" title="About/Download" href="#about"><i
						class="icon-leaf"></i></a></li>
				<li><a th:title="#{usage}"
					class="app-tooltip-bottom" title="Usage" href="#usage"><i
						class="icon-code"></i></a></li>
				<li><a th:title="#{features}"
					class="app-tooltip-bottom" title="Navigation Control" href="#navcontrol"><i
						class="icon-compass"></i></a></li>
				<li><a th:title="#{paths}"
					class="app-tooltip-bottom" title="Path Resolution" href="#paths"><i
						class="icon-link"></i></a></li>
				<li><a th:title="#{thymeleaf}"
					class="app-tooltip-bottom" title="Thymeleaf Integration" href="#thymeleaf"><i
						class="icon-cloud"></i></a></li>
			</ul>
		</div>
		<section
			data-spy="scroll" data-target="#docs" data-offset="0"
			class="scroll-spy">
			<div id="about" class="panel panel-default">
				<div class="panel-heading">
					<span class="icon-stack icon-3x"> <i
						class="icon-sign-blank icon-light icon-stack-base"></i> <i
						class="icon-leaf icon-thymus-stacked"></i> <i
						class="icon-thymus-text-dark">Thymus</i>
					</span>
					<div class="pull-right">
						<a href="https://github.com/ugate/thymus/tarball/master"><span
							class="icon-stack icon-3x"> <i
								class="icon-folder-close icon-stack-base"></i><i
								class="icon-light icon-text">tar.gz</i>
						</span></a>
						<a href="https://github.com/ugate/thymus/zipball/master"><span
							class="icon-stack icon-3x"> <i
								class="icon-folder-close icon-stack-base"></i> <i
								class="icon-light icon-text">.zip</i>
						</span></a>
					</div>
				</div>
				<div class="panel-body">
					<p th:replace="README.md :: handleReadme()">
						<b>thymus.js</b>
					</p>
					<p>
						Internally, it dynamically loads the JQuery API (configurable) and
						uses <a href="http://api.jquery.com/jQuery.ajax/">JQuery
							$.ajax(...) calls</a> to retrieve and insert fragments into pages. The
						process is similar to how <a href="http://api.jquery.com/load/">JQuery
							$.load(...) works with page fragments</a> with a few added benefits.
						<b>thymus.js</b> will automatically insert fragments into a page
						using HTML5 data attributes and will update any relative
						<code>src</code>
						/
						<code>href</code>
						URLs within returned fragments to point to the proper path before
						insertion. It also supports nested fragments that may reside in
						other fragments. <a href="#features">Click here</a> for a full
						list of features.
					</p>
					<p>
						This site actually uses <span id="fragTotal" class="badge">0</span>
						<b>thymus.js</b> fragments to while initializing this page. So,
						feel free to explore :)
					</p>
					<div id="features" class="panel panel-default">
						<div class="panel-heading">Features</div>
						<div class="panel-body">
							<ul>
								<li>Automatic fragment <i>inclusion</i> while a page loads (<a
									href="#deferred">configurable</a>)
								</li>
								<li>Automatic fragment <i>replacement</i> while a page loads
									(<a href="#deferred">configurable</a>)
								</li>
								<li>Automatic fragment <a href="#attrpaths"><code>src</code>/<code>href</code>
										resolution for relative paths</a> (<a href="#deferred">configurable</a>)
								</li>
								<li><a href="#deferred">Load fragments via script using
										JQuery selectors</a></li>
								<li>Multiple fragment definitions at the same fragment URL</li>
								<li>Prevents repetitive calls to the same URL associated with
									raw JQuery.load content (typical case when multiple fragments
									reside at the same URL)</li>
								<li><a href="#selfref">Self-Referencing templates</a></li>
								<li>Relatively infinite <a href="#nestedfrags">nesting of
										fragments</a> (fragments within fragments)
								</li>
								<li><a href="#headfrags"><code>head</code> tag fragments</a></li>
								<li>Ability to override the processing of fargment results
									via function</li>
								<li>Automatic fragment loading or <a href="#deferred">deferred
										fragment loading</a></li>
								<li>Maintains vertical scrolling positions associated with
									named anchors that point to a location within a fragment (e.g. <i>example.com/path#someNamedAnchorInAFrag</i>)
								</li>
								<li><a href="#fragcomplete">Fragment events</a> dispatched
									for each resource has been loaded or failed to load (including
									scripts and nested fragments)</li>
								<li><a href="#fragscomplete">Fragment event</a> dispatched
									when all fragments have been loaded or failed to load (including
									scripts and nested fragments)</li>
								<li>Complete <a href="http://learn.jquery.com/plugins/">JQuery
										plug-in</a> extensibility
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div th:replace="frags/docs/usage :: #usage"></div>
			<div th:replace="frags/docs/nav :: #navcontrol"></div>
			<div th:replace="frags/docs/paths :: #paths"></div>
			<div th:replace="frags/docs/server :: #thymeleaf"></div>
		</section>
	</div>
	<div th:replace="frags/nav/nav :: bottomnav"></div>
	<div th:replace="frags/script :: scripts"></div>
</body>
</html>