<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="frags/head :: header">
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<!-- thymus.js script -->
<script th:remove="all" src="js/thymus.js" id="thymus"
	data-thx-base-path="." data-thx-frag-extension=".htm"
	data-thx-head-frag="th:include=frags/head :: header"
	data-thx-preload-css="frags/docs/css/loader.css"
	data-thx-preload-js="frags/docs/js/loader.js"
	data-thx-onfrags="fragsListener()" data-thx-onfrag="fragListener(event, 'hey there')"></script>
</head>
<body>
	<div id="loadThymus">
		<div id="loadThymusText">
			0%
		</div>
		<div id="loadThymusProg">
			<div id="loadThymusProgPer"></div>
		</div>
	</div>
	<div th:replace="frags/nav/nav :: topnav"></div>
	<div class="container app-scroll" th:attr-data-content="README.md :: handleReadme()">
		<div id="docs" class="app-scroll-nav">
			<ul class="nav navbar-inverse">
				<li><a th:title="#{about}"
					class="app-tooltip-bottom" title="Getting Started" href="#about"><i
						class="fa fa-leaf"></i></a></li>
				<li><a th:title="#{navcontrol}" class="app-tooltip-bottom"
					title="Fragment Routing and Transition Control" href="#navcontrol"><i
						class="fa fa-compass"></i></a></li>
				<li><a th:title="#{usage}"
					class="app-tooltip-bottom" title="Model vs View Fragments" href="#usage"><i
						class="fa fa-code"></i></a></li>
				<li><a th:title="#{paths}"
					class="app-tooltip-bottom" title="Path Resolution" href="#paths"><i
						class="fa fa-link"></i></a></li>
				<li><a th:title="#{advusage}" class="app-tooltip-bottom"
					title="Events, Handlers and Programmatic Usage" href="#advusage"><i
						class="fa fa-eye"></i></a></li>
				<li><a th:title="#{thymeleaf}"
					class="app-tooltip-bottom" title="Thymeleaf Integration" href="#thymeleaf"><i
						class="fa fa-cloud"></i></a></li>
			</ul>
		</div>
		<div
			data-spy="scroll" data-target="#docs" data-offset="0"
			class="scroll-spy">
			<div id="about" class="panel panel-default">
				<div class="panel-heading">
					<span class="fa-stack fa-3x"> <i
						class="fa fa-square fa-stack-2x fa-inverse"></i> <i
						class="fa fa-leaf fa-stack-1x fa-thymus-stacked"></i> <i
						class="fa fa-stack-1x fa-thymus-text-dark">thymus.js</i>
					</span>
					<div class="pull-right" style="text-align: center;">
						<a
							href="https://github.com/ugate/thymus/archive/v1.0.0-beta.2.tar.gz"><span
							class="fa-stack fa-3x"> <i
								class="fa fa-folder fa-stack-2x"></i> <i
								class="fa fa-inverse fa-stack-1x fa-text">tar.gz</i>
						</span></a> <a
							href="https://github.com/ugate/thymus/archive/v1.0.0-beta.2.zip"><span
							class="fa-stack fa-3x"> <i
								class="fa fa-folder fa-stack-2x"></i> <i
								class="fa fa-inverse fa-stack-1x fa-text">.zip</i>
						</span></a> <br /> <a href="https://github.com/ugate/thymus/tarball/master">
							<span class="fa-stack fa-2x"> <i
								class="fa fa-folder fa-stack-2x"></i> <i
								class="fa fa-wrench fa-stack-1x fa-thymus-stacked-a"></i> <i
								class="fa fa-stack-1x fa-thymus-text">tar.gz</i>
						</span>
						</a> <a href="https://github.com/ugate/thymus/zipball/master"> <span
							class="fa-stack fa-2x"> <i
								class="fa fa-folder fa-stack-2x"></i> <i
								class="fa fa-wrench fa-stack-1x fa-thymus-stacked-a"></i> <i
								class="fa fa-stack-1x fa-thymus-text">.zip</i>
						</span></a>
					</div>
				</div>
				<div class="panel-body">
					<p th:replace="README.md :: handleReadme()">
						<b>thymus.js</b>
					</p>
					<div id="features" class="panel panel-default">
						<div class="panel-heading">Features</div>
						<div class="panel-body">
							<ul>
								<li>Automatic or <a href="#deferred">deferred</a> fragment
									<i>inclusion</i> or <i>replacement</i> while a page loads
								</li>
								<li>Automatic fragment resolution for relative paths within
									<a href="#attrpathsdflt">URI related attributes</a> (<a
									href="#attrpaths">configurable</a>)
								</li>
								<li><a href="#deferred">Load fragments via script using
										JQuery selectors</a></li>
								<li>Multiple fragment definitions at the same fragment <a
									href="#fragroutingpath"><b>routing path</b></a></li>
								<li>Prevents repetitive calls to the same <a
									href="#fragroutingpath"><b>routing path</b></a> within a single
									fragment load action (typical case when multiple fragments
									reside at the same <a href="#fragroutingpath"><b>routing
											path</b></a>)
								</li>
								<li><a href="#selfref">Self-Referencing templates</a>
									(processing of fragments that reside in the base page)</li>
								<li>Relatively infinite <a href="#nestedfrags">nesting
										of fragments</a> (fragments within fragments)
								</li>
								<li><a href="#headfrags"><code>head</code> tag
										fragments</a></li>
								<li>Ability to override the processing of fargment results
									via <a href="#fragshandler"><b>result siphon</b> handler</a>
								</li>
								<li>Maintains vertical scrolling positions associated with
									named anchors that point to a location within a fragment (e.g.
									<i>example.com/path#someNamedAnchorInAFrag</i>)
								</li>
								<li>DOM/JQuery compliant <a href="#fragcomplete">fragment
										events</a> dispatched for each resource has been loaded or failed
									to load (including scripts and nested fragments)
								</li>
								<li><a href="#navcontrol">Navigation/Transition Control</a></li>
								<li><a href="#modeltoview">Model-To-View Transition
										Control</a></li>
								<li>Complete <a href="http://learn.jquery.com/plugins/">JQuery
										plug-in</a> extensibility
								</li>
							</ul>
						</div>
					</div>
					<h3>Getting Started</h3>
					<p>
						To use <b>thymus.js</b> it obviously needs to be included in the
						page. Here is the minimal setup:
					</p>
<div style="overflow: auto; width: auto; padding: .2em .6em;"><pre style="margin: 0; line-height: 125%">
<span style="color: #000080; font-weight: bold">&lt;head&gt;</span>
<span style="color: #000080; font-weight: bold">&lt;meta</span> <span
								style="color: #FF0000">charset=</span><span
								style="color: #0000FF">&quot;utf-8&quot;</span> <span
								style="color: #000080; font-weight: bold">/&gt;</span>
<span style="color: #008800; font-style: italic">&lt;!-- Thymus script --&gt;</span>
<span style="color: #000080; font-weight: bold">&lt;script </span><span
								style="color: #FF0000">src=</span><span style="color: #0000FF">&quot;js/thymus.js&quot;</span> <span
								style="color: #FF0000">id=</span><span style="color: #0000FF">&quot;thymus&quot;</span> <span
								style="color: #FF0000">data-thx-base-path=</span><span
								style="color: #0000FF">&quot;.&quot;</span><span
								style="color: #000080; font-weight: bold">&gt;&lt;/script&gt;</span>
<span style="color: #000080; font-weight: bold">&lt;/head&gt;</span>
</pre></div>
					<p>
						There are two required <b>thymus.js</b> attributes. The
						<code>thymus</code>
						id/namespace is used to identify the <b>thymus.js</b> script in
						order to capture various attribute options on the script tag while
						the
						<code>data-thx-base-path</code>
						is used for <a href="#fragpath">fragment path resolution</a> and <a
							href="#attrpaths">attribute path resolution</a>. It should point
						to the root context of the application relative to the page in
						which <b>thymus.js</b> is loaded.
					<p>
						Internally, when <b>thymus.js</b> loads, it checks for the presence
						of the JQuery API. If it's not found it will automatically load
						the most current version found at <a
							href="http://code.jquery.com/jquery.min.js">http://code.jquery.com/jquery.min.js</a>.
						To provide your own version, simply add the JQuery
						<code>script</code>
						tag prior to the <b>thymus.js</b> one or provide a
						<code>data-thx-jquery-url</code>
						attribute on the <b>thymus.js</b>
						<code>script</code>
						tag that points to the JQuery API of choice.
					</p>
					<h3>Fragments</h3>
					<p>
						Fragments are at the core of <b>thymus.js</b> and are used to
						populate full or partial updates to the browser UI. <b>thymus.js</b>
						assumes that fragmented portions of the UI are fragile and
						exceedingly dynamic in nature and therefore does not try to <i>bind</i>
						data that may reside in various sections of the UI. Doing so is
						prone to memory leaks- especially when a fragment contains
						child/nested fragments. Instead, <b>thymus.js</b> utilizes the power
						of <a href="http://api.jquery.com/category/selectors/">JQuery
							selectors</a> to define routes for fragmented content. Not only does
						this provide a friendly and familiar interface, but it also
						eliminates the need to require <i>model</i> observability/binding
						extensions via JavaScript. This approach lends itself to stateless/<a
							href="http://en.wikipedia.org/wiki/Representational_state_transfer">RESTful</a>
						server APIs.
					</p>
					<p>
						Once JQuery has successfully loaded <b>thymus.js</b> will attempt
						to load any fragments by looking for DOM elements that have a <a
							href="#httpmethods"><b>DOM routing attribute</b></a> or a <a
							href="#fragusage">short-hand version of a <b>DOM routing
								attribute</b></a> assigned to it (see the <a href="#deferred">deferment
							section</a> to prevent fragments from loading automatically). <b>thymus.js</b>
						loads fragments using <a href="http://api.jquery.com/jQuery.ajax/">JQuery
							$.ajax(...) calls</a> to retrieve and insert fragments into the DOM.
						The process is similar to how <a
							href="http://api.jquery.com/load/">JQuery $.load(...) works
							with page fragments</a>, but also automates and adds DOM event
						interaction to the process.
					</p>
					<p>
						<b>thymus.js</b> recognizes two types of fragments. The first being
						<i>view</i> fragments. Any fragments retrieved that have a
						<code>content-type</code>
						of
						<code>text/html</code>
						will be interpreted as a <i>view</i> content. Similarly, fragments
						with <a href="#textfrags">raw <code>content-type</code>
							identifiers
						</a> will also be interpreted as <i>view</i> content, but will have
						limited <i>model</i> interaction capabilities. Any of the <a
							href="#modeltoview"><i>model</i> <code>content-type</code>
							identifiers </a> and are interpreted as <i>model</i> content and
						updated in corresponding <i>views</i> via <a href="#modeltoview"><i>model</i>
							routing techniques</a>.
					</p>
					<p th:replace="frags/cancel :: #noshow">
						This site actually uses <span id="fragTotal" class="badge">0</span>
						<b>thymus.js</b> fragment views to initialize this page. So, feel
						free to explore and check out your browsers console :)
					</p>
				</div>
			</div>
			<div th:replace="frags/docs/nav :: #navcontrol"></div>
			<div th:replace="frags/docs/usage :: #usage"></div>
			<div th:replace="frags/docs/paths :: #paths"></div>
			<div th:replace="frags/docs/adv :: #advusage"></div>
			<div th:replace="frags/docs/server :: #thymeleaf"></div>
		</div>
	</div>
	<div th:replace="frags/nav/nav :: bottomnav"></div>
	<div th:replace="frags/script :: scripts"></div>
</body>
</html>