<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- All relative href/src URLs should be relative to the application's context defined on the Thymus script  -->
<body>
	<!-- Top navigation fragment (with multi-level nested fragments) -->
	<div th:fragment="topnav">
		<div class="navbar navbar-inverse navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse"
						data-target=".topnav-collapse">
						<span class="icon-bar"></span> <span class="icon-bar"></span> <span
							class="icon-bar"></span>
					</button>
					<a class="navbar-brand" th:href="@{/index.htm}" href="index.htm">
						<img class="logo-small" src="artwrk/logo-small.png" />
					</a>
				</div>
				<div class="collapse navbar-collapse topnav-collapse">
					<ul class="nav navbar-nav navbar-right">
						<li class="mteal-hover dropdown"><a
							href="javascript:void(0);" class="dropdown-toggle"
							data-toggle="dropdown"> <span th:text="${user.name}"
								class="user-title">Guest User</span> <i
								class="fa fa-chevron-down"></i></a>
							<ul class="dropdown-menu app-right-menu">
								<li class="user-info"><a
									th:include="frags/user/user :: user" href="user/info.htm"
									th:href="@{user/info}"></a></li>
								<li><a th:href="@{/login.htm}" href="login.htm"><i
										class="fa fa-power-off"></i> <span th:text="#{signout}">Sign
											Out</span></a></li>
							</ul></li>
					</ul>
					<ul class="nav navbar-nav navbar-left">
						<li><a href="https://github.com/ugate/thymus"> <i
								class="fa fa-github app-icon-navbar app-tooltip-bottom"
								title="View project on GitHub" th:title="#{github.view}"></i>
						</a></li>
						<li><a class="dl-link"
							href="https://github.com/ugate/thymus/releases/download/v1.0.0-beta.4/thymus-1.0.0-beta.4-dist.zip">
								<i class="fa fa-download app-icon-navbar app-tooltip-bottom"
								title="Download .zip file" th:title="#{github.download.zip}"></i>
						</a></li>
						<li><a href="js/test/index.html">
								<i class="fa fa-tachometer app-icon-navbar app-tooltip-bottom"
								title="Run tests" th:title="#{test.run}"></i>
						</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<!-- Bottom navigation fragment -->
	<div th:fragment="bottomnav"
		class="navbar navbar-inverse navbar-fixed-bottom">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target=".bottomnav-collapse">
					<span class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="http://ugate.org" target="_blank"
					title="maintained by ugate.org" th:title="#{company.by}"><img
					src="https://secure.gravatar.com/avatar/e46c1c9ed5fbfebc5277b2661a2350cd?s=140&d=https://github.com/images/gravatars/gravatar-140.png"
					width="32" height="32" /> <span
					th:text="${#calendars.year(#calendars.createNow())}"></span></a>
			</div>
			<div class="collapse navbar-collapse bottomnav-collapse">
				<ul class="nav navbar-nav navbar-right">
					<li>
						<div class="frag-prog">0%</div>
					</li>
					<li>
						<div id="fragProgress" class="progress nav-prog">
							<div class="progress-bar" role="progressbar" aria-valuenow="0"
								aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
								<span class="sr-only frag-prog">0%</span>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</body>
</html>