<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="frags/head :: header">
<meta charset="utf-8" />
<!-- pre-loader and listeners -->
<link href="frags/docs/css/loader.css" rel="stylesheet" media="screen" />
<script src="frags/docs/js/loader.js"></script>
<!-- thymus.js script -->
<script th:remove="all" src="../js/thymus.js" id="thymus"
	data-thx-context-path="../" data-thx-frag-extension=".htm"
	data-thx-head-frag="th:include=frags/head :: header"
	data-thx-onfrags="fragsListener()" data-thx-onfrag="fragListener()"></script>
</head>
<body>
	<div th:replace="frags/nav/nav :: topnav"></div>
	<div th:with="user=${#object}"
		th:replace="frags/user/profile :: profile"></div>
	<div th:replace="frags/nav/nav :: bottomnav"></div>
	<div th:replace="frags/script :: scripts"></div>
</body>
</html>