<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="frags/head :: header">
<meta charset="utf-8" />
<!-- Thymus script -->
<script th:remove="all" src="../js/thymus.js" id="thymusScript"
	data-thx-engine="thymeleaf"
	data-thx-context-path="../" data-thx-frag-extension=".htm"
	data-thx-head-frag="th:replace=frags/head :: header"
	data-thx-onfragscomplete="init(event)"></script>
</head>
<body>
	<div th:replace="frags/nav/nav :: topnav"></div>
	<div th:with="user=${#object}"
		th:replace="frags/user/profile :: profile"></div>
	<div th:replace="frags/nav/nav :: bottomnav"></div>
	<div th:replace="frags/script :: scripts"></div>
</body>
</html>